:root {
  --baseGray-40: #b5bec6;
  --baseWhite: #ffffff;
  --baseGray-80: #4a5660;
  --date-hover: #cbbcbc;
}

[data-theme="dark"] {
  --baseGray-80: #ffffff;
  --baseWhite: #464646;
  --date-hover: #363232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "AvenirNext LT Pro-Demi", Helvetica;
  background-color: var(--baseWhite);
}

.app {
  height: 500px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--baseWhite);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

.display-month-year {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.icons {
  width: 16px;
  height: 16px;
  border: none;
  background-color: var(--baseWhite);
  cursor: pointer;
}

.month-year-name {
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: var(--baseGray-80);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
  font-style: normal;
}

.weekday-title {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.weekday-title-name {
  display: flex;
  width: 30px;
  height: 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--baseGray-40);
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 12px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 8px;
  flex: 0 0 auto;
}

.days li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--baseWhite);
  border-radius: 50%;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  cursor: pointer;
}

.active {
  color: var(--baseGray-80);
}

.date-inactive {
  color: #8f8383;
}

.days li:hover {
  background-color: var(--date-hover);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  margin-top: 15px;
  margin-left: 20px;
}

.theme-switch input {
  display: none;
}

.switch {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.switch:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.switch {
  background-color: #16100c;
}

input:checked+.switch:before {
  transform: translateX(26px);
}

.switch.round {
  border-radius: 34px;
}

.switch.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  .app {
    padding: 10px;
  }

  .calendar {
    padding: 15px;
  }
}