:root {
  --gray-1: #333333;
  --baseGray-40: #b5bec6;
  --baseWhite: #ffffff;
  --secondary-100: #f04d23;
  --baseGray-80: #4a5660;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.container {
  margin: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}

.calendar {
  position: relative;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  padding: 24px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 16px 19px 0px #00000017;
}

#darkThemeButton {
  background-repeat: no-repeat;
  background-size: cover;

  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 0;

  position: relative;
  right: 20px;
  bottom: 20px;
}

.themeButton-light {
  background: url(../images/light-mode.png);
}

.display-month-year {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.theme-button {
  height: 45px;
  width: 45px;
}

.icons {
  position: relative;
  width: 16px;
  height: 16px;
  border: none;
  background-color: #ffff;
  cursor: pointer;
}

.month-year-name {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "AvenirNext LT Pro-Demi", Helvetica;
  font-weight: 400;
  color: #4a5660;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
  font-style: normal;
}

.weekday-title {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.weekday-title-name {
  display: flex;
  width: 30px;
  height: 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;

  color: var(--baseGray-40);
  font-family: "AvenirNext LT Pro-Demi", Helvetica;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 12px;
}

.date-inactive {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.date-active {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}


.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 8px;
  width: 100%;
  flex: 0 0 auto;
}

.days li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--baseWhite);
  border-radius: 50%;
  position: relative;
  color: var(--baseGray-80);
  font-family: "AvenirNext LT Pro-Demi", Helvetica;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0;
  line-height: 20px;
  cursor: pointer;
}

.days li:hover {
  background-color: aqua;
}

/* Dark Theme */
.dark-theme {
  background-color:  var(--gray-1);
}

.dark-theme .month-year-name {
  color: #fff;
}

.dark-theme .days li {
  color: #fff;
  background-color: #464646;
}

.dark-theme .days li:hover, .dark-theme .container {
  background-color: var(--gray-1);
}

.dark-theme .calendar, .dark-theme .icons {
  background-color: #464646;
}

.dark-theme .themeButton-light {
  background: url(../images/dark-mode.png);
}