:root {
  --gray-1: #333333;
  --baseGray-40: #b5bec6;
  --baseWhite: #ffffff;
  --secondary-100: #f04d23;
  --baseGray-80: #4a5660;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.app {
  position: relative;
  top: 60px;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 8px;
  justify-content: center;
}

.calendar {
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  padding: 24px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 16px 19px 0px #00000017;
}

.display-month-year {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.icons {
  width: 16px;
  height: 16px;
  border: none;
  background-color: #ffff;
  cursor: pointer;
}

.month-year-name {
  width: fit-content;
  margin-top: -1px;
  font-family: "AvenirNext LT Pro-Demi", Helvetica;
  font-weight: 400;
  color: #4a5660;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
  font-style: normal;
}

.weekday-title {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.weekday-title-name {
  display: flex;
  width: 30px;
  height: 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--baseGray-40);
  font-family: "AvenirNext LT Pro-Demi", Helvetica;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 12px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 8px;
  flex: 0 0 auto;
}

.days li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--baseWhite);
  border-radius: 50%;
  font-family: "AvenirNext LT Pro-Demi", Helvetica;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  cursor: pointer;
}

.active {
  color: var(--baseGray-80);
}

.date-inactive {
  color: var(--baseGray-40);
}

.days li:hover {
  background-color: aqua;
}

/* Dark Theme */
#darkThemeButton {
  background-repeat: no-repeat;
  background-size: cover;

  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 0;
}

.themeButton-light {
  background: url(../images/light-mode.png);
}

.theme-button {
  height: 45px;
  width: 45px;
}

.dark-theme {
  background-color: var(--gray-1);
}

.dark-theme .month-year-name {
  color: #fff;
}

.dark-theme .date-inactive {
  color: #b7b7b7;
  background-color: #464646;
}

.dark-theme .active {
  color: var(--baseWhite);
  background-color: #464646;
}

.dark-theme .days li:hover,
.dark-theme .container {
  background-color: var(--gray-1);
}

.dark-theme .calendar,
.dark-theme .icons {
  background-color: #464646;
}

.dark-theme .themeButton-light {
  background: url(../images/dark-mode.png);
}

@media only screen and (max-width: 500px) {
  .app {
    padding: 10px;
  }

  .calendar {
    padding: 15px;
  }
}